<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key><string>com.zeropage.morningprompts</string>
  <key>ProgramArguments</key>
  <array>
    <string>/bin/bash</string>
    <string>/Users/iphone/Documents/PRODUCTION PIPLINE .GIT/run_morning_prompts.sh</string>
  </array>
  <key>StartCalendarInterval</key>
  <dict><key>Hour</key><integer>6</integer><key>Minute</key><integer>0</integer></dict>
  <key>StandardOutPath</key><string>/Users/iphone/Documents/PRODUCTION PIPLINE .GIT/data/morning_prompts.out</string>
  <key>StandardErrorPath</key><string>/Users/iphone/Documents/PRODUCTION PIPLINE .GIT/data/morning_prompts.err</string>
</dict>
</plist>
